.content {
    max-width: 1200px;
    margin: auto;
}
header {
    display: flex;
    background-image: url(../images/1.jpg);
    width: 1200px;
    height: 550px;
}
li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
}
ul{
    display: inline;
    margin-left: 71px;
}

#main>div{
    width: 150px;
    height: 120px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
section{
    margin-top: 25px;
}
* {box-sizing: border-box;}
form {
    position: relative;
    width: 18px;
    margin-top: 12px;
    height: 18px;
    background: #FFFFFF;
    float:left;
}
input {
    height: 35px;
    width: 18px;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: red;
}
input:focus {
    width: 200px;
    z-index: 1;
    border: 2px solid #f73;
}
button {
color: #FFFFFF;
    border: none;
    height: 18px;
    width: 18px;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url(../images/2.png) no-repeat;
    background-size: 18px;
}
section1{
    margin-top: 10px;
    margin-left: 400px;
}
button2 {
    height: 18px;
    width: 18px;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url(../images/3.png) no-repeat;
    background-size: 18px;
    padding-left: 20px;
    color: black;
}
form1 {
    position: relative;
    width: 18px;
    margin-top: 12px;
    height: 18px;
    background: #FFFFFF;
    float:left;
    margin-left: 30px;
}
a1{
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #756257;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    width: 160px;
    padding-left: 27px;
    padding-top: 10px;
}
a:hover {
    background: #f73;
    color: yellow;
}
a1:hover {
    background: #f73;
    color: yellow;
}
button:hover {
    background: #f73;
    color: yellow;
}
h1{
    text-align: center;
    padding-top: 50px;
    margin-top: 30px;
}
section2{
    background-color: #FFFFFF;
}
p{
    text-align: center;
    padding-bottom: 79px;
}
section3{
    position: relative;
    cursor: pointer;
    background: url(../images/22.jpg) no-repeat;
    padding-bottom: 384px;
    padding-left: 1200px;
    font-size: 20px;
    color: #FFFFFF;
}
section4{
    position: relative;
    cursor: pointer;
    background: url(../images/23.jpg) no-repeat;
    padding-bottom: 384px;
    padding-left: 1200px;
    font-size: 20px;
    display: inline;
}
section5{
    position: relative;
    cursor: pointer;
    background: url(../images/24.jpg) no-repeat;
    padding-top: 10px;
    padding-bottom: 390px;
    padding-left: 1200px;
    font-size: 20px;
    color: #FFFFFF;
}
section6{
    position: relative;
    cursor: pointer;
    background: url(../images/25.jpg) no-repeat;
    padding-bottom: 390px;
    padding-left: 1200px;
    font-size: 20px;
    display: inline;
}